[package]
name = "rust-graph"
version = "0.0.0"
edition = "2021"

[lib]
name = "rust_graph"
crate-type = [ "cdylib", "rlib",]

[dependencies]
pyo3 = "0.21.2"
rayon = "1.10"

[features]
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]
